[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
aiohttp = "*"
pydantic = "*"
pytest = "*"
pytest-asyncio = "*"

[dev-packages]
black = "==21.12b0"  # no stable releases yet, but a useful one
isort = "*"
mypy = "*"
flake8 = "*"
typing-extensions = "*"
pytest = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = false

[scripts]
add-hooks = "pre-commit install"
remove-hooks = "pre-commit uninstall"
check-types = "mypy --disallow-untyped-calls --disallow-untyped-defs ."
check-flake8 = "flake8 ."
